/*       ***** iconmoon *****        */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?br3dgy');
    src:  url('fonts/icomoon.eot?br3dgy#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?br3dgy') format('truetype'),
      url('fonts/icomoon.woff?br3dgy') format('woff'),
      url('fonts/icomoon.svg?br3dgy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  .icon-baseline-add-24px:before {
    content: "\e900";
  }
  .icon-baseline-arrow_back-24px:before {
    content: "\e901";
  }
  .arrow_forward:before {
    content: "\e902";
  }
  .icon-baseline-camera_alt-24px:before {
    content: "\e903";
  }
  .icon-baseline-date_range-24px:before {
    content: "\e904";
  }
  .icon-baseline-email-24px:before {
    content: "\e905";
  }
  .icon-baseline-exit_to_app-24px:before {
    content: "\e906";
  }
  .icon-baseline-explore-24px:before {
    content: "\e907";
  }
  .icon-baseline-gif-24px:before {
    content: "\e908";
  }
  .icon-baseline-home-24px:before {
    content: "\e909";
  }
  .icon-baseline-insert_photo-24px:before {
    content: "\e90a";
  }
  .icon-baseline-keyboard_arrow_left-24px:before {
    content: "\e90b";
  }
  .icon-baseline-label-24px:before {
    content: "\e90c";
  }
  .icon-baseline-more_vert-24px:before {
    content: "\e90d";
  }
  .icon-baseline-notifications-24px:before {
    content: "\e90e";
  }
  .icon-baseline-person_pin_circle-24px:before {
    content: "\e90f";
  }
  .icon-baseline-person-24px:before {
    content: "\e910";
  }
  .icon-baseline-question_answer-24px:before {
    content: "\e911";
  }
  .icon-baseline-room-24px:before {
    content: "\e912";
  }
  .icon-baseline-sentiment_satisfied_alt-24px:before {
    content: "\e913";
  }
  .icon-baseline-settings-20px:before {
    content: "\e914";
  }
  .icon-baseline-thumb_up-24px:before {
    content: "\e915";
  }
  .icon-baseline-turned_in_not-24px:before {
    content: "\e916";
  }
  .icon-baseline-visibility_off-24px:before {
    content: "\e917";
  }
  .icon-baseline-visibility-24px:before {
    content: "\e918";
  }
  .icon-facebook-f-brands:before {
    content: "\e919";
  }
  .icon-instagram-brands:before {
    content: "\e91a";
  }
  .icon-outline-https-24px:before {
    content: "\e91b";
  }
  .icon-outline-question_answer-24px:before {
    content: "\e91c";
  }
  .icon-outline-thumb_down-24px:before {
    content: "\e91d";
  }
  .icon-youtube-brands:before {
    content: "\e91e";
  }
  
/*       ********************         */