*::before, *::after {
  box-sizing: border-box;
}

#box-report {
  max-width: 450px;
  width: 70%;
  margin: 0 auto;
  border-top: 5px solid #ffe600;
  color: #142833;
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  padding: 10px;
  user-select: none;
}

#box-repot h1 {
  margin: 0;
  padding: 10px;
  background-color: #f9f9f9;
  font-size: 1.2em;
  text-align: center;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#box-repot h2 {
  position: relative;
  margin: 0;
  padding: 10px 0;
  font-size: 1.2em;
}

h2::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -20px;
  width: 5px;
  background-color: #435757;
}

h2::after {
  display: block;
  float: right;
  font-weight: normal;
}


input {
  display: block;
  height: 53px;
  margin: 0 0 -53px -9999px;
  outline: none;
}


label {
  display: block;
  position: relative;
  padding: 0.5em 45px 0.5em 0;
  border-top: 2px dashed #f9f9f9;
  cursor: pointer;
  text-align: right;
}

label::before {
  content: '\e928';
  display: block;
  position: absolute;
  top: 13px;
  right: 10px;
  font: 1.2em 'icon';
}

label:hover, input:focus + label {
  background-color: #f9f9f9;
  border-right: 4px solid #ffe600;
  
}

input:checked + label::before {
  content: '\e927'; /* circle checkmark */
}

.close {
  font-size: 20px;
  color: white;
  padding: 10px 20px;
  margin: 0 50px;
  cursor: pointer;
  background: #ffe600;
  display: inline-block;
  border-radius: 5px;
}

.submit-report .close {
  margin: 0 auto;
  display: block;
  width: max-content;
}