html {
    background: none;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*           ****** home page ******                   */
.homePage {
	background-color: #ffe600;    
}
/*                   circle                            */
.centralCircle {
    width: 100%;
    left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
    overflow: hidden;
}
.circle {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}
.centralCircle h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 21px auto 5px;
}

/*             slide words home page                */

 figure {
    height: 50px;
	position: relative;
	margin: 0;
	left: 0;
	width: 500%;
	animation: 30s slidy infinite;
}
 figure img {
	width: 100%;
}
 figure .slider {
	width: 20%;
	float: left;
}

 .slider >  p {
	width: 130px;
	height: 130px;
	display: block;
	border-radius: 50%;
	margin: auto auto 15px;
	transform-style: preserve-3d;
}
.opinion p {
	text-align: center;
	color: #4e5052;
	font-size: 20px;
	width: 70%;
    margin: 0 auto;
}

@keyframes slidy{
	0%{
		left: 0%;
	}

	8%{
		left: 0%;
	}
	10%{
		left: -100%;
	}
	18%{
		left: -100%;
	}
	20%{
		left: -200%;
	}
	28%{
		left: -200%;
	}
	30%{
		left: -300%;
	}
	38%{
		left: -300%;
	}
	40%{
		left: -400%;
	}
	48%{
		left: -400%;
	}
	50%{
		left: 0%;
	}
	58%{
		left: 0%;
	}
	60%{
		left: -100%;
	}
	68%{
		left: -100%;
	}
	70%{
		left: -200%;
	}
	78%{
		left: -200%;
	}
	80%{
		left: -300%;
	}
	88%{
		left: -300%;
	}
    90%{
        left: -400%;
    }
    98%{
        left: -400%;
    }
}

/*                   footer home page                */

.footer {
    background: none!important;
    padding: 0!important;
    margin: 0 auto;
    width: 80%;
    left: 50%;
    top: 90%;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.buttonStarted{
    padding: 20px 0px;
    text-align: center;
}
.buttonStarted a {
    text-decoration: none;
    color: #4e5052;
    background-color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50px;
    padding: 15px 37%;
    font-family: Arial, 'lucida Sans Unicode';
}
.paraFooter {
    margin: 30px auto;
    text-align: center;
    color: #4e5052;
}
.paraFooter a {
    text-decoration: none;
    font-weight: bold;
    color: #4e5052;
}


/* background for Sign-up, login, forget password, Reset password, Email sent, manage links, personal info step and verification step */

.grayContentPage {
    background-color: #fafafa;
    direction: rtl;
}

/*           ****** sign in page ******               */

/*                  main sign in                       */

.mianHeader {
    width: 100%;
}

.mianHeader img {
    width: 100%;
    height: 180px;
}
.mianHeader a {
    position: absolute;
    color: #485d67;
    font-size: 25px;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
    z-index: 5;
}
.mianHeader p {
    width: 100%;
    text-align: center;
    color: #485d67;
    font-size: 25px;
    position: absolute;
    padding-top: 50px;
    font-weight: bold;
}

/*     style content for name, passward, email and some buttons like login*/
.contentPageHeader input, .contentPageHeader .control button, .footer .control button {
    border-radius: 50px;
    
}
.contentPageHeader {
    width: 80%;
    margin: 0 auto;
}
.contentPageHeader .control button, .footer .control button {
    width: 100%;
    margin: 0 auto;
    background-color: #ffe600;
    margin-top: 10px;
}
.contentPageHeader .control button:hover, .footer .control button:hover {
    background-color: #ffe600cf;
}
.contentPageHeader .control .button.is-success:active, .footer .control button.is-success:active {
    background-color: #ffe600;
}
.contentPageHeader .control .button.is-success:focus:not(:active), .footer .control button.is-success:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgb(255, 230, 0);
}
.contentPageHeader input, .contentPageHeader .icon, .contentPageHeader .control button, .footer .control button {
    height: 3rem!important;
    font-weight: bold;
}
.eyePWD {
    pointer-events: painted!important;
    cursor: pointer;
    left: 0;
}
/*           forgetting link          */
.forgettingLink {
    text-align: center;
    display: block;
    color: #485d67;
    text-decoration: underline;
    font-weight: bold;
}

/*            note for another login         */
.noteSginIn {
    text-align: center;
    color: #dae1e4;
    font-size: 13px;
    font-weight: bold;
}
.underline::after {
	content: "";
    display: inline-flex;
    width: 17%;
    height: 2px;
    background-color: #dae1e4;
    margin: 5px auto;
    margin-right: 5px;
}
.underline::before {
	content: "";
    display: inline-flex;
    width: 17%;
    height: 2px;
    background-color: #dae1e4;
    margin: 5px auto;
    margin-left: 5px;
}

/*        buttons for google and ficebook        */
.buttonsSginIn {
    display: flex;
    margin: 25px auto;
}
.buttonSIN {
    display: inline-table;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.buttonSIN img {
    height: 20px;
}
.buttonSIN a {
    text-decoration: none;
    font-size: 15px;
    border-radius: 50px;
    padding: 15px 15%;
    width: 50%;
    font-weight: bold;
}
.buttonFacebook {
    border: 2px solid #6179ab;
    color: #6179ab;
}
.buttonFacebook .svg-inline--fa.fa-w-9 {
    padding-right: 10px;
    width: auto;
}
.buttonFacebook:hover {
    background-color: #6179ab;
    color: white;
}
.buttonGoogle {
    border: 2px solid #bfcacf;
    color: #bfcacf;
}
.buttonGoogle:hover {
    background-color: #bfcacf;
    color: white;
}
.buttonGoogle img {
    padding-right: 10px;
    height: 15px;
    vertical-align: middle;
}

/*         ****** forget assword ******         */

/*          note for email             */
.paraContent {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.mainPoster {
    width: 50%;
    height: 116px;
    display: block;
    margin: 0 auto 25px;
}

/*        ****** verification-step ******        */

.contentCenter {
    margin-top: 50px;
}
.iconCenter {
    margin-top: 10px;
    color: white!important;
    font-size: 20px;
}

/*      ****** personal info step ******        */

/*           personal picture           */

.personalPicture {
    text-align: center;
    font-size: 25px;
    border: 2px #ffe600 dashed;
    border-radius: 50%;
    width: 100px;
    margin: 0 auto 25px;
    height: 100px;
}
.personalPicture:hover .file-cta {
    background: #fafafa;
    border: 0;
}
.personalPicture .fa-camera {
    margin: 35px;
    color: #ffe600;
}
.personalPicture .file-cta {
    background: none;
    border: none;
    padding: 1.2em 1em!important;
}
.personalPicture .file-icon {
    margin: 0;
}

/*           ****** manage links page ******               */

/*                  Recycle Bin icon                       */
.contentPageHeader ul li {
    margin-top: 20px;
}
.linkMSM {
    width: 90%;
    margin: auto;
    margin-right: 0;
}
.linkSSM {
    display: flex;
}
.linkSM {
    width: 60%!important;
}
.linkSM-input {
    border-radius: 40px 0 0 40px!important;
    box-shadow: none;
    font-size: 12px;
}
.linkSSM .select {
    height:  3rem!important;
    width: 100%;
}
.linkSM-para {
    width: 50%!important;
}
.select:not(.is-multiple):not(.is-loading)::after {
    border-color: white;
    font-size: 12px;
}
.linkMSM select {
    border: none;
    border-radius: 0 40px 40px 0;
    height: 3rem!important;
    width: 100%;
    background-color: #ffe600;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.linkSM .linkSM-para {
    background-color: #ffe600!important;
}
.RBR {
    pointer-events: painted!important;
    cursor: pointer;
    left: -40px;
}
.linkAD {
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
}
.linkAD a {
    color: #ffe600!important;
}
.linkAD span {
    font-size: 30px;
    vertical-align: sub;
    font-weight: 400;
}

/*           ****** more page ******               */
.withApp , .withAppW {
    direction: rtl;
}
.withApp {
    background-color: #fafafa;
}
.withAppW {
    background-color: white;
}
/*                  top header                    */
.topHeader {
    top: 0;
}
.topHeader, .bottomFooter {
    width: 100%;
    height: 50px;
    box-shadow: 0rem 0rem 1rem rgba(0,0,0,0.20);
    position: fixed;
    background-color: white;
    z-index: 15;
}
.topHeader a {
    position: fixed;
    color: #485d67;
    font-size: 23px;
    margin-right: 15px;
    margin-top: 9px;
    cursor: pointer;
    z-index: 5;
}
.topHeader p {
    width: 100%;
    text-align: center;
    color: #485d67;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}

/*                  head content                    */
.headContent {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: white;
}
.headContainer {
    width: 95%;
    margin: 0 auto;
}
.headContent ul li {
    direction: ltr;
    margin: 0.5em 0;
}
hr {
    margin: 0;
}
.headElements {
    color: #b0bec5;
}
.signOutElements {
    color: #485d67;
}
.headElements svg:not(:root).svg-inline--fa, .signOutElements svg:not(:root).svg-inline--fa {
    margin-left: 5px;
}

/*                  bottom footer                    */
.bottomFooter {
    bottom: 0;
}
.bottomFooter ul {
    width: 100%;
}
.bottomFooter ul li {
    display: inline-block;
    width: 18.5%;
    text-align: center;
    padding: 10px;
}
.bottomFooter ul li a {
    font-size: 20px;
    color: #b0bec5;
}
.bottomFooter ul li .actieFooterLink {
    color: #ffe600;
}
.bottomFooter ul li .plusIcon {
    border: 2px solid;
    border-radius: 50%;
    padding: 5px 10px;
}

/*           ****** post something ******               */

/*                  share button                     */
.topHeader .share {
    left: 0;
    margin-left: 15px;
    top: 0;
    font-size: 18px;
    border: 2px solid #ffe600;
    background: #ffe600;
    color: white;
    border-radius: 50px;
    padding: 0px 30px;
}

/*                   person post                    */
.personPost {
    display: inline-flex;
}
.personPost img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.personPost .personName {
    padding-top: 3px;
    padding-right: 10px;
    font-weight: bold;
    color: #485d67;
}
/*                  image person post                     */
.imagePost {
    background-color: #eceff1;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    color: #485d67;
}
.imagePost .myImage {
    display: inline-block;
    width: 32.2%;
    text-align: center;
    padding: 5px 0;
    position: relative;
    z-index: 9;
}
.myImage input[type="file"], .funPost input[type="file"] {
    opacity: 0;
    z-index: 10;
    position: absolute;
    cursor: pointer;
}
.myImage input[type="file"] {
    width: 100%;
    height: 100%;
    right: 0;
}
.myImage img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.myImage a {
    color: #485d67;
    background-color: white;
    padding: 5px 8px;
    border-radius: 50%;
}

.funPost {
    margin-top: 20px;
    position: relative;
}
.funPost input[type="file"], .funPost svg:not(:root).svg-inline--fa {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    color: #dbdbdb;
    cursor: pointer;
    z-index: 10;
}
.funPost textarea {
    height: 10em;    
}
.funPost textarea, .addWasm input {
    padding: 0;
    border: none;
    box-shadow: none;

}
.addWasm, .addPerson {
    margin: 10px auto;
}

.addPerson {
    width: 100%;
    margin-bottom: 50px;
}
.addPerson a {
    display: inline-block
}
.addPerson img, .addPersonPlus {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    margin: 0 5px;
}
.addPersonPlus {
    text-align: center;
    font-size: 30px;
    color: #ffe600;
    border: 2px dashed;
    vertical-align: top;
    position: relative;
}
.addPersonPlus span {
    position: absolute;
    left: 13px;
    bottom: 3px;
}




/*           ****** media ******                 */
@media(min-width:1000px) {
    .mainPoster {
        width: 200px;
        height: 116px;
    }
}




















