@font-face {
	font-family: 'dubai';
	src: url(../fonts/DubaiFont/webfonts/DubaiW23-Medium.ttf);
	font-style: normal;
}
html {
    background: none;
}
body {
	font-family: dubai!important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header, footer, a, div, p, button, textarea, input, ul, li, span, label, strong, img {
	font-family: dubai!important;
}
.t0Mb0 {
	margin: 0 auto;
}
.t0Mb25 {
	margin: 0 auto 25px;
}
.t0Mb50 {
	margin: 0 auto 50px;
}

#overlay{
  height:100%;
  width:100%;
  background-color: white;
  position:fixed;
  left:0;
  top:0;
  z-index: 20;
  cursor:pointer;
  display:block;
 }

 /* alert */
#overlayAlert {
  display: none;
  opacity: 0.5;
  filter : blur(4px);
  position: fixed;
  top: 0px;
  left:0px;
  background: #fff;
  width: 100%;
  z-index: 40;
  height: 100vh;
}
.zarAlert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffe600;
  font-size: 20px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}
#box {
  width: 70%;
  overflow: hidden;
  background: #f1f1f1;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  padding: 10px;
  text-align: center;
  display: none;
}
#box .iconAlert {
  color: #ffe600;
  display: block;
  margin: 20px 0;
}
#box .iconAlert i {
  font-size: 40px;
}
#box h2 {
  color: #485d67;
}
.close {
  font-size: 20px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  background: #ffe600;
  display: inline-block;
  border-radius: 5px;
}
 

.spinner {
    width: 80px;
    height: 80px;
    
    border: 2px solid #b0bec5;
    border-top:3px solid #ffe600;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spinner 1s infinite linear;
}
	
@keyframes spinner {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
		}
}


/*           ****** home page ******                   */
.homePage {
	background-color: #ffe600;
}
.height-0 {
	height: 100vh;
}
.height-2 {
	height: 102vh;
}
.height-5 {
	height: 105vh;
}
/*                   circle                            */
.centralCircle {
    width: 100%;
    left: 0;
    right: 0;
    top: 35%;
    overflow: hidden;
}
.circle {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}
.centralCircle h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 21px auto 5px;
}

/*             slide words home page                */

 figure {
    height: 50px;
	position: relative;
	margin: 0;
	left: 0;
	width: 500%;
	animation: 30s slidy infinite;
}
 figure img {
	width: 100%;
}
 figure .slider {
	width: 20%;
	float: left;
}

 .slider >  p {
	width: 130px;
	height: 130px;
	display: block;
	border-radius: 50%;
	margin: auto auto 15px;
	transform-style: preserve-3d;
}
.opinion p {
	text-align: center;
	color: #4e5052;
	font-size: 17px;
	width: 70%;
    margin: 0 auto;
}

@keyframes slidy{
	0%{
		left: 0%;
	}

	8%{
		left: 0%;
	}
	10%{
		left: -100%;
	}
	18%{
		left: -100%;
	}
	20%{
		left: -200%;
	}
	28%{
		left: -200%;
	}
	30%{
		left: -300%;
	}
	38%{
		left: -300%;
	}
	40%{
		left: -400%;
	}
	48%{
		left: -400%;
	}
	50%{
		left: 0%;
	}
	58%{
		left: 0%;
	}
	60%{
		left: -100%;
	}
	68%{
		left: -100%;
	}
	70%{
		left: -200%;
	}
	78%{
		left: -200%;
	}
	80%{
		left: -300%;
	}
	88%{
		left: -300%;
	}
    90%{
        left: -400%;
    }
    98%{
        left: -400%;
    }
}

/*                   footer home page                */

.footer {
    background: none!important;
    padding: 0!important;
    margin: 0 auto;
    width: 80%;
    left: 0;
    right: 0;
    bottom: 5%;
    position: absolute;
    overflow: hidden;
}
.buttonStarted{
    padding: 20px 0px;
    text-align: center;
}
.buttonStarted a {
    text-decoration: none;
    color: #4e5052;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    padding: 7.5px 42%;
}
.paraFooter {
    text-align: center;
    color: #4e5052;
}
.paraFooter p {
	margin: 1em 0;
}
.paraFooter a {
    text-decoration: none;
    font-weight: bold;
    color: #4e5052;
}


/* background for Sign-up, login, forget password, Reset password, Email sent, manage links, personal info step and verification step */

.grayContentPage {
    background-color: #fafafa;
    direction: rtl;
}

/*           ****** sign in page ******               */

/*                  main sign in                       */

.mianHeader {
    width: 100%;
}

.mianHeader img {
    width: 100%;
    height: 180px;
}
.mianHeader a {
    position: absolute;
    color: #485d67;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
    z-index: 5;
}
.mianHeader a i, header a i {
	font-size: 30px!important;
	font-weight: bold!important;
}
.mianHeader p {
    width: 100%;
    text-align: center;
    color: #485d67;
    font-size: 25px;
    position: absolute;
    padding-top: 50px;
    font-weight: bold;
}
.fontSize12 {
	font-size: 12px!important;
}
.fontSize15 {
	font-size: 15px!important;
}
.fontSize18 {
	font-size: 18px!important;
}
.fontSize20 {
	font-size: 20px!important;
}
.fontSize22 {
	font-size: 22px!important;
}
.fontSize24 {
	font-size: 24px!important;
}
.fontSize26 {
	font-size: 26px!important;
}
.fontSize28 {
	font-size: 28px!important;
}
.fontSize30 {
	font-size: 30px!important;
}

/*           ****** sign up page ******               */

.lastDivision {
	background: none!important;
    padding: 0!important;
    margin: 10% auto 0;
    overflow: hidden;
}

/*     style content for name, passward, email and some buttons like login*/
.borderRadius50,.contentPageHeader input, .contentPageHeader .control button, .footer .control button, .footerAndChat .chat textarea, .personChat img {
    border-radius: 50px;
    
}
.contentPageHeader, .contentPageFooter, .bodyComments .communion, .reply {
    width: 80%;
    margin: 0 auto;
}
.contentPageFooter {
	bottom: 0;
    left: 0;
    right: 0;
}
.contentPageHeader .control button, .footer .control button, .lastDivision .control button {
    width: 100%;
    background-color: #ffe600;
}
.contentPageHeader .control button:hover, .footer .control button:hover, .lastDivision .control button:hover {
    background-color: #ffe600cf;
}
.contentPageHeader .control .button.is-success:active, .footer .control button.is-success:active, .lastDivision .control button.is-success:active {
    background-color: #ffe600;
}
.contentPageHeader .control .button.is-success:focus:not(:active), .footer .control button.is-success:focus:not(:active), .lastDivision .control button.is-success:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgb(255, 230, 0);
}
.contentPageHeader input, .contentPageHeader .icon, .contentPageHeader .control button, .footer .control button, .contentPageHeader textarea, .lastDivision .control button {
    height: 3rem!important;
    font-weight: bold;
}
.eyePWD {
    pointer-events: painted!important;
    cursor: pointer;
    left: 0;
}
/*           forgetting link          */
.noteConditions {
	color: #485d67;
	text-align: center;
}
.noteConditions .forgettingLink {
	display: initial;
}
.forgettingLink {
    text-align: center;
    display: block;
    color: #485d67;
    text-decoration: underline;
    font-weight: bold;
}

/*            note for another login         */
.noteSginIn {
    text-align: center;
    color: #cfd8dc;
    font-size: 13px;
    font-weight: bold;
}
.underline::after {
	content: "";
    display: inline-flex;
    width: 17%;
    height: 2px;
    background-color: #cfd8dc;
    margin: 5px auto;
    margin-right: 5px;
}
.underline::before {
	content: "";
    display: inline-flex;
    width: 17%;
    height: 2px;
    background-color: #cfd8dc;
    margin: 5px auto;
    margin-left: 5px;
}

/*        buttons for google and ficebook        */
.buttonsSginIn {
    display: flex;
    margin: 25px auto;
}
.buttonSIN {
    display: inline-table;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.buttonSIN img {
    height: 20px;
}
.buttonSIN a {
    text-decoration: none;
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 20%;
    width: 50%;
    font-weight: bold;
}
.buttonFacebook {
    border: 2px solid #6179ab;
    color: #6179ab;
}
.buttonFacebook .svg-inline--fa.fa-w-9 {
    padding-right: 10px;
    width: auto;
}
.buttonFacebook:hover {
    background-color: #6179ab;
    color: white;
}
.buttonGoogle {
    border: 2px solid #bfcacf;
    color: #bfcacf;
}
.buttonGoogle:hover {
    background-color: #bfcacf;
    color: white;
}
.buttonGoogle img {
    padding-right: 10px;
    height: 15px;
    vertical-align: middle;
}

/*         ****** forget assword ******         */

/*          note for email             */
.paraContent {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.mainPoster {
    width: 80%;
	height: 20vh;
    display: block;
    margin: 0 auto 25px;
}

/*        ****** verification-step ******        */

.iconCenter {
    color: white!important;
    font-size: 20px;
}

/*      ****** personal info step ******        */

/*           personal picture           */

.personalPicture {
	width: max-content;
	padding-bottom: 20px;
    margin-bottom: 30px;
}
.personalPicture .handControl {
    text-align: center;
    font-size: 25px;
    border: 2px #ffe600 dashed;
    border-radius: 50%;
    width: 125px;
    height: 125px;
	overflow: hidden;
	transform: scale(1);
	transition: all 0.9s ease 0s;
	z-index: 5;
}
.personalPicture .handControl:hover {
	border: 2px #ffe600 solid;
}

.personalPicture:hover .handControl {
	box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.8);
    border: #ffe600 2px solid;
}

.handControl {
	box-sizing: border-box;
	background: #fafafa;
}
.handControl img {
	block-size: inherit;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
	width: 100%;
}
.myPicture:after {
	content: "";
	width: 125px;
	height: 125px;
	border-radius: 50%;
	background: #ffe600;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
}
.inputFileIcon {
	height: inherit;
    width: 1.5em;
	align-items: center;
    display: flex;
	justify-content: center;
}
.personalPictureImg {
	border: 2px #ffe600 solid!important;
	width: 70px;
    height: 70px;
	font-size: 0;
	left: 0;
    right: 0;
    bottom: 50px;
    z-index: 3;
	transition: all 0.5s ease 0s;
}
.personalPictureImg:hover {
	background-color: #f7f5ec;
}
.personalPictureImg:active {
	background-color: #efede6;
}
.personalPicture:hover .personalPictureImg {
	bottom: -3px;
}
.personalPictureImg .file-cta {
	padding: 0em!important;
}

.personalPicture:hover .file-cta {
    background: #fafafa;
    border: 0;
}
.personalPictureImg .file-cta {
	padding: 1em!important;
}
.personalPicture .file-icon {
    margin: 0;
}
.personalPictureBtn {
	top: 45px;
}

/*           ****** manage links page ******               */

/*                  Recycle Bin icon                       */
.contentPageHeader ul li {
	margin-top: 20px;
}
.contentPageHeader .myImg {
	display: block;
}
.enterMail {
    padding-top: 15px;
    padding-bottom: 15px;
}
.enterMail .paraContent {
	text-align: right;
	padding-right: 18px;
}
.linkMSM {
    width: 90%;
    margin: auto;
    margin-right: 0;
}
.linkSSM {
    display: flex;
}
.linkSM {
    width: 60%!important;
}
.linkSM-input {
	color: #485d67;
    border-radius: 40px 0 0 40px!important;
    box-shadow: none;
    font-size: 12px;
}
.linkSSM .select {
    height:  3rem!important;
    width: 100%;
}
.linkSM-para {
    width: 50%!important;
}
.select:not(.is-multiple):not(.is-loading)::after {
    border-color: white;
    font-size: 12px;
}
.select:not(.is-multiple):not(.is-loading):hover::after {
    border-color: white;
}
.linkMSM select {
    border: none;
    border-radius: 0 40px 40px 0;
    height: 3rem!important;
    width: 100%;
    background-color: #cfd8dc;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.linkSM .linkSM-para {
    background-color: #ffe600!important;
}
.select select:not([multiple]) {
    padding-right: 45%;
}
.RBR {
	color: #cfd8dc!important;
    pointer-events: painted!important;
    cursor: pointer;
    left: -40px;
}
.linkAD {
	margin-top: 15px;
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
}
.golden {
    color: #ffe600!important;
}
.linkAD .material-icons {
    font-size: 25px;
    padding-left: 7px;
    vertical-align: bottom;
}

.footerAcc {
	background-color: #fafafa!important;
	height: 100%;
    max-width: 100%;
    left: 10%;
	transform: none;
    position: fixed;
    z-index: 10;
}
.width80 {
	width: 80%;
}
.orderFooterTop {
	margin-top: 15vh;
}
.orderFooterBottom {
	margin-bottom: 5vh;
}

/*           ****** manage email page ******               */

.control.has-icons-right .input, .control.has-icons-right .select select {
	padding-right: 3em;
}
.control .has-icons-right .icon {
	width: 3em;
}

/*           ****** more page ******               */
.withApp , .withAppW {
    direction: rtl;
}
.withApp {
    background-color: #fafafa;
}
.withAppW {
    background-color: white;
}
/*                  top header                    */
.topHeader, .backgroundSend .personPost {
    top: 0;
}
.box-shadow {
    box-shadow: 0rem 0rem 1rem rgba(0,0,0,0.20);    
}
.topHeader, .bottomFooter {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: white;
    z-index: 15;
}
.topHeader a {
    position: fixed;
    color: #485d67;
    font-size: 23px;
    cursor: pointer;
    z-index: 5;
}
.topHeader a, .personPost, .share4All a, .fa-smile {
    margin-right: 15px;
	margin-left: 15px;
    margin-top: 10px;
	margin-bottom: 10px;
}
.CMTtime {
	margin-right: 15px;
	margin-left: 15px;
}
.noMargin {
	margin: 0!important;
}
.topHeader p, .moreReply {
    width: 100%;
    text-align: center;
    color: #485d67;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}
.settings p {
	text-align: right;
	padding: 10px 75px;
}

/*                  head content                    */
.headContent {
    width: 100%;
    margin-top: 50px;
	margin-bottom: 50px;
    padding: 10px 0;
    background-color: white;
}
.headContainer, .addTags, .backList hr {
    width: 90%;
    margin: 0 auto;
}
.headContent ul li {
    direction: ltr;
    margin: 0.5em 0;
}
hr {
    margin: 0;
}
.headElements{
    color: #b0bec5!important;
}

.headElements svg:not(:root).svg-inline--fa, .signOutElements svg:not(:root).svg-inline--fa {
    margin-left: 5px;
}

/*                  bottom footer                    */
.bottomFooter, .myMenu a {
    bottom: 0;
}
.bottomFooter ul {
    width: 100%;
	font-size: 0;
}
.bottomFooter ul li {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 5px 10px;
}
.bottomFooter ul li .actieFooterLink {
    color: #ffe600!important;
}
.bottomFooter ul li .plusIcon {
    border: 2px solid;
    border-radius: 50%;
    padding: 2px 2.5px;
}

/*           ****** post something ******               */

/*                  share button                     */
.topHeader .share {
    left: 0;
    margin-left: 15px;
    top: 0;
    font-size: 18px;
    border: 2px solid #ffe600;
    background: #ffe600;
    color: white;
    border-radius: 50px;
    padding: 0px 30px;
}

/*                   person post                    */
.personPost {
    display: inline-flex;
}
.signImage img, .Notification .persons2Post .persons2Image {
    height: 40px;
    width: 40px;	
}
.personPost img {
	height: 35px;
    width: 35px;
}

.personPost img, .signImage img {
	border: 2px solid white;
    border-radius: 50%;
}
.personPost .personName {
	font-size: 14px;
	line-height: 2.5;
    padding-right: 3px;
    font-weight: bold;
    color: #485d67;
}

/*                  image person post                     */
.imagePost {
    background-color: #eceff1;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    color: #485d67;
    position: relative;
}
.imagePost .myImage {
    display: inline-block;
    width: 32.2%;
    text-align: center;
    padding: 5px 0;
    position: relative;
    z-index: 9;
}
.myImage input[type="file"], .funPost input[type="file"], .personalPicture input[type="file"], .leftTextarea a input[type="file"] {
    opacity: 0;
    z-index: 10;
    position: absolute;
    cursor: pointer;
}
.myImage input[type="file"], .personalPicture input[type="file"] {
    width: 100%!important;
    height: 100%!important;
    right: 0;
}

.myImage a {
    color: #485d67;
    background-color: white;
    padding: 5px 8px;
    border-radius: 50%;
}
.myImage p {
	padding-top: 10px;
}

.funPost {
    margin-top: 20px;
    position: relative;
}
.funPost input[type="file"], .funPost i {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    color: #dbdbdb;
    cursor: pointer;
    z-index: 10;
}
.funPost textarea {
    height: 10em;    
}
.funPost textarea, .addWasm input {
    padding: 0;
    border: none;
    box-shadow: none;

}
.addWasm, .addPerson, .imagePost {
    margin: 10px auto;
}

.addPerson a {
    display: inline-block
}
.addPerson img, .addPersonPlus, .aboutMe img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    margin: 0 5px;
}
.addPersonPlus {
    text-align: center;
    font-size: 30px;
    color: #ffe600;
    border: 2px dashed;
    vertical-align: top;
    position: relative;
}
.addPersonPlus i, .myImage a i, .aboutMyInfo i {
    vertical-align: middle;
}

/*              ****** post something add tags ******               */
.bodyTag {
	height: 25em;
}
.relative, .ageTitle, .answer, .mySend, .bodyAnswer, .myPicture {
	position: relative;
}
.ageTitle a {
	position: absolute;
    color: #485d67;
    font-size: 23px;
    cursor: pointer;
    z-index: 5;
    line-height: 0;
    left: 0;
}
.ageTitle h2 {
	text-align: center;
	font-weight: bold;
}
.addTagWasm input {
	border-radius: 50px;
    padding-right: 1em;
    padding-left: 1em;
}
.paraTag, .showAll a {
	font-size: 10px;
    font-weight: bold;
}

.wasm {
	font-size: 10px;
	text-align: center;
	width: 100%;
    margin: 5px auto!important;
	font-weight: bold;
}
.wasm a {
	width: 18%;
    display: inline-block;
    color: #b0bec5;
    background-color: white;
    padding: 4px 0;
    border-radius: 50px;
}
.wasm .sp {
	margin: 0 2px;
}
.wasm a span {
	
}
.wasm svg:not(:root).svg-inline--fa, .wasm .material-icons {
    vertical-align: middle;
    font-size: 13px;
}

/*              ****** profile ******               */
.left, .backgroundSend .myMenu, .signImage {
	left: 0;
}
.right {
	right: 0;
}
.bottom {
	bottom: 0;
}
.backList, .contentPageHeader textarea {
	background-color: white;
    border-radius: 15px;
	margin-bottom: 20px;
}
.aboutMe {
	padding-top: 100px;
}
.aboutMe a, .description h2, .bodyWasm a, .darkBlue, .signOutElements, .bgTextSend .communion a, .bgTextSend .textSend p, .linkAD a, .bottomFooter ul li a, .communion a {
	color: #485d67!important;
}
.aboutMe h1 {
	font-size: 20px;
    font-weight: bold;
}
.aboutMe p, .aboutMyInfo, .mySocial a, .mySend .myMenu a, .allCommunion .communion a, .allCommunion .share4All a, .settingList a {
    color: #cdd6da;
}
.reverse {
	direction: ltr;	
}
.description {
	margin: 10px auto;
}
.description h2 {
	font-size: 15px;
    font-weight: bold;
}

.aboutMyInfo {
	font-size: 10px;
    margin: 10px auto;
}
.aboutMyInfo div, .mySocial a, .aboutMe a img, .communion a, .bodyWasm div {
	display: inline-block;
}
.aboutMyInfo .place, .aboutMyInfo .birth {
	margin: 0 10px;
}
.mySocial a {
	padding: 9px 15px;
}
.center {
	text-align: center;
}

.backgroundSend {
	height: auto;
	line-height: 0.75;
}
.backgroundSend .bgImageSend img {
    height: 15em;	
}
.backgroundSend, .backgroundSend .bgImageSend img {
    border-radius: 15px 15px 0 0;
	width: 100%;
	position: relative;
}
.absolute, .backgroundSend .personPost, .backgroundSend .myMenu, .signImage, .persons2Post .persons2Image img {
	position: absolute;	
}
.backgroundSend .myMenu {
    top: 10px;
	line-height: 2.25;
}
.backgroundSend .myMenu a {
	position: unset;
}

.bgTextSend .textSend {
	padding-top: 3.5em;
}
.bgTextSend .textSend p {
	padding: 15px 0;
}
.bgTextSend .textSend p, .answerPara p {
	word-wrap: break-word;
    word-break: break-word;
}

.bgTextSend .communion {
	padding: 15px;
}
.bgTextSend hr, .bgTextSend .textSend {
	width: 90%;
    margin: 10px auto 0;
}
.bgTextAndImageSend .bgImage {
	max-width: 500px;
	margin: 10px auto 0;
}
.bgTextAndImageSend .bgImage img {
	border-radius: 10px;
    height: 12em;
    width: 100%;
}

.CMTtime, .bgImageSend .communion, .share4All {
	position: absolute;
	color: white;
}
.myMenu i {
	vertical-align: middle;
}
.whiteColor, .share4All a {
	color: white!important;
}
.mySend {
	width: 90%;	
}
.communion, .share4All {
    bottom: 10px;
}
.communion a {
	width: 20%;
}
.communion span {
	padding-right: 5px;
}

.bodyWasm, .answer {
	background-color: #eceff1;
}
.bodyWasm .wasm {
	width: 82%;
}
.showAll {
	text-align: center;
    width: 15%;
}

.bodyAnswer {
	padding: 10px 40px 10px 20px;
}
.bodyAnswer .personName {
	font-size: 12px;
	line-height: 3;
}
.answer {
    border-radius: 10px;
	padding: 0 0 10px;
}
.answer .personPost {
	position: inherit;
    top: 0;
    right: -15px;
	margin: 0;
}
.answerPara p {
	line-height: 1.5;
    color: #485d67;
	padding: 0px 20px 0px;
    font-size: 12px;
}
.spaceFooterS {
	margin-bottom: 50px;
}
.spaceFooterSP {
	padding-bottom: 50px:
}
.spaceFooter {
	margin-bottom: 70px;
}

/*              ****** home ******               */
.spaceHeader, .contentCenter {
	margin-top: 50px;
}
.spaceHeaderH {
	margin-top: 70px;
}
.mySend div {
	margin: 0;
}
.mySend {
	padding-top: 10px;
	margin: 0 auto;	
}

.imageSend, .imageSend img {
	height: 12em
}

.allCommunion {
	display: flex;
	padding: 10px;
}
.allCommunion div {
	position: inherit;
}
.communion i {
	font-size: 18px;
    vertical-align: sub;
}

.noRadius {
	border-radius: 0;
}
.fullWidth {
	width: 100%!important;
}

/*           ****** setting ******                 */
.setting .headContent {
	background: none;
}
.setting .backList a:hover {
	background-color: #fbfbfb;
}
.settingList {
	box-shadow: 0rem 0.25rem 1rem rgba(0,0,0,0.2);
	position: relative;
	margin-top: 45px;
	overflow: hidden;
	z-index: 10;
}
.settingPara p {
	margin-top: 15px;
    background-color: #ffe600;
    color: #485d67;
	font-weight: bold;
    display: table;
    padding: 2px 15px 15px;
    border-radius: 10px 10px 0 0;
	position: absolute;
    z-index: 9;
}
.settingList a {
	display: block;
    padding: 15px;
}

/*           ****** Notification ******                 */
.Notification ul li {
	background-color: white;
}
.Notification ul li:hover {
	background-color: #eceff1;
}
.Notification .personPost p {
	color: #485d67;
	height: max-content;
	padding-right: 10px;
	padding-left: 40px;
	line-height: 1;
}
.Notification .personPost p .morePoster {
	color: #485d67;
	font-size: 15px;
}
.Notification .personPost p a, .bgTextSend .textSend p {
	line-height: 1.5;
	padding-right: 0;
}
.Notification .personPost p span {
	font-size: 12px;
    color: #cdd6da;
}

.Notification .persons2Post .persons2Image {
	display: inline-flex;
    flex-direction: row-reverse;
}
.Notification .persons2Post .persons2Image img {
	margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 30px;
}
.persons2Post .persons2Image .imageOne {
	z-index: 12;
}
.persons2Post .persons2Image .imageTwo {
	z-index: 8;
    margin-right: -15px;
}

.persons2Post .persons2Image .imageThree {
	z-index: 9;
	margin-right: -7.5px;
}

/*           ****** Comments ******                 */

.spaceFooterB {
	margin-bottom: 125px;
}
.communion a, .bodyAnswer, .moreReply {
	font-size: 12px;
}
#bodyComments .bodyAnswer .personPost img, .personChat img {
	height: 30px;
	width: 30px;
}
#bodyComments .reply .personPost img {
	height: 25px;
	width: 25px;
}
.footerAndChat {
	height: auto
}
.chat {
	padding: 7px 15px;
    background-color: #eceff1;
}
.footerAndChat .chat textarea {
	padding-right: 3em;
    padding-left: 3em;
	font-weight: bold;
}
.chat a {
	height: 100%!important;
	pointer-events: painted!important;		
}
.iconLeft a {
	display: inline-block;
}
.chat .left a {
	position: initial!important;
}
.chat .left, .chat .right {
	position: absolute;
    top: 0;
}
.leftTextarea, .personChat a {
	margin: 3px;
}
.leftTextarea a {
	background-color: #eceff1;
    border-radius: 50%;
}
.leftTextarea a:hover {
	background-color: #ffe600;
}
.leftTextarea a i {
	color: white;
	transform: rotate(180deg);
}
.leftTextarea a, .personChat a, .personChat a img {
	width: 40px!important;
    height: 40px!important;
}

/*           ****** reset password ******                 */
.button.noWrite {
	background-color: #eceff1!important;
	color: #8c8c8c!important;
}
.contentPageHeader .control .button.noWrite:focus:not(:active) {
	box-shadow: none;
}

.button.write {
	background-color: #ffe600!important;
	color: white!important;
}
.contentPageHeader .control .button.write:focus:not(:active) {
	box-shadow: 0 0 0 0.125em rgb(255, 230, 0);
}
.wrongValue {
	color: #ff3860!important;
}

/*           ****** media ******                 */
@media(min-width:1000px) {
    .mainPoster {
        width: 200px;
    }
}















