$white-color : white;
$main-color : #ffe600;
$error-color : #ff3860;
$normal-color : #dbdbdb;
$white-gray-color : #fafafa;
$gray-color: #b0bec5;
$dark-blue-color: #142833;

$zero: 0;
$fifty: 50;

$left: left;
$right: right;

$inherit: inherit;

$auto: auto;

/*     ******  chat  ******      */

.chat {
    bottom: $fifty + px;
}

/*     ******  search  ******      */

.last-search, .research-results {
    width: 100%;
    height: 50px;
    background-color: $white-color;
  }
.research-results:hover {
    background-color: $white-gray-color;
}

.last-search {
    .last-research-results, .close-results, .delete-research-results {
        position: absolute;
        height: $inherit;
        display: grid;
        align-items: center;
        text-align: center;
        color: $gray-color;
    }
    .delete-research-results {
        right: $zero;
        width: max-content;
        margin: 0 15px;
        z-index: $fifty;
        font-size: 15px;
    }
    .last-research-results {
        left: $zero;
        right: $zero;
        width: 100%;
        font-size: 17px;
        text-align: center;
    }
    .close-results {
        left: $zero;
        width: max-content;
        margin: 0 15px;
    }
}
.result-content {
    height: $inherit;
}

.respondent-element a {
    border-radius: 50%;
    color: $gray-color;
}
.respondent-name {p {
    font-size: 12px;
    color: $gray-color;
  }
}

.delete-this-result {
    padding: 7px 0;
 a {
    display: flex;
    color: $gray-color;
  }
}

/*     ******  results  ******      */

.results-options ul li a {
    color: $gray-color;
}
.results-options ul li:focus-within {
    border-bottom: 4px solid $dark-blue-color;
}
.results-options ul li:focus-within a {
    color: $dark-blue-color;
}

.respondent-person .mySend {
    background-color: $white-color;
    padding: 10px 10px 0;
}

/*      ****** Privacy policy ******        */

.main-policy {
    width: 90%;
    direction: ltr;
    padding: 20px 0;
    margin: 0 auto 50px;
    .content-items-policy {
        padding: 40px;
        max-height: 500px;
        overflow-y: scroll;
        p {
            margin-bottom: 16px;
            font-size: 15px;
        }
        h3 {
            margin-top: 24px;
            margin-bottom: 24px;
            font-size: 22px;
        }
        h4 {
            margin-bottom: 5px;
            font-size: 20px;
        }
        ul {
            margin: 0 0 10px 20px;
        }
        ul li {
            margin: 0;
            list-style-type: initial;
            font-size: 15px;
        }
        a {
            
        }
    }
}
.content-items-policy::-webkit-scrollbar {
    width: .4em;
}
.content-items-policy::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.content-items-policy::-webkit-scrollbar-thumb {
    background-color: $dark-blue-color;
    border-radius: 50px;
    outline: 0px solid $gray-color;
  }

/*   ***** connect us *****   */

.select:not(.is-multiple):not(.is-loading):hover::after {
    border-color: $gray-color
}
.select:not(.is-multiple):not(.is-loading)::after {
    border-color: $normal-color
}

/*   ***** vars *****   */
.txtR {
    text-align: $right;
}
.txtL {
    text-align: $left;
}